.messages-container {
  display: flex;
  padding: 20px;
  font-family: Roboto;
  position: relative;

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
  }

  &.success {
    color: #085d08;
    background-color: #7cea89;
    border: 1px solid #86ed88;
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
