.categories-panel {
  max-width: 400px;
  margin: 0 auto;
  height: 400px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.title {
  text-align: center;
  margin-right: 15px;
  margin-bottom: 0;
}
